body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0%;
    margin: 0%;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0%;
    margin: 0%;
}

.button_1{
    height: 38px;
    background: orangered;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
}

.dark{
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgb(50, 41, 53);
    color: whitesmoke;


}

/* Header*/
header{
    background: rgb(50, 41, 53);
    color: rgb(233, 233, 233);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orangered 3px solid;
}

header a{
    color:antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li{
    float: left;
    padding: 0 20px 0 20px;
    display:inline;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0%;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, .current a{
    color: orangered;
    font-weight: bold;
}

header a:hover{
    color: cccccc;
    font-weight: bold;
}

/* Showcase */
 #showcase{
     min-height: 400px;
     background-color: gray;
     text-align: center;
     color: rgb(158, 15, 15);
 }

 #showcase h1{
     margin-top: 100px;
     font-size: 55px;
     margin-bottom: 10px;
 }
 
 #showcase p{
     font-size: 20px;
 }

 /* Newsletter */
 #newsletter{
     padding: 15px;
     color: white;
     background: rgb(50, 41, 53);
 }

 #newsletter h1{
     float: left;
    
 }

 #newsletter form{
     float: right;
     margin-top: 15px;
 }

 #newsletter input[type="email"]{
     padding: 4px;
     height: 25px;
     width: 250px;
 }


 /*Boxes*/

 #boxes{
     margin-top:20px;
    

 }

 #boxes .box{
     float: left;
     text-align: center;
     width: 30%;
     padding: 10px;
 }

 #boxes .box img{
     width: 90px;
 }


 /*Sidebar*/
 aside#sidebar{
     float: right;
     width: 30%;
     margin-top: 10px;    
 }

 aside#sidebar .quote input, aside#sidebar .quote textarea{
     width: 90%;
     padding: 5px;
 }
 /*Main-col*/
 article#main-col{
     float: left;
     width: 65%;
 }

 /*Services*/
 ul#services li{
     padding: 20px;
     list-style: none;
     border: lightsalmon solid 1px;
     margin-bottom: 5px;
     background: lightgrey;
 }
 footer{
     padding: 20px;
     margin-top: 20px;
     color: whitesmoke;
     background-color: orangered;
     text-align: center;
     
 }
